MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=redfly
MYSQL_USER=redfly
MYSQL_PASSWORD=
MYSQL_HOST=mariadb_server
MYSQL_IP_ADDRESS=
MYSQL_PORT=3306

STUDENT_FIRSTNAME=
STUDENT_LASTNAME=
STUDENT_EMAIL=
STUDENT_PASSWORD=
